@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: white;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}
input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  width: 100%;
}

/* Example of media query for smaller screens */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens here */
  .terminal-output {
    font-size: 9px;
    /* Add other adjustments as needed */
  }
  .flex {
    font-size: 9px;
  }
}